/* You can add global styles to this file, and also import other style files */

// normalized

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

html {
  height: 100%;
}

body {
  margin: 0;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
}

li {
  padding: 0;
}

// some global classes

.flex-row {
  display: flex;
  > * {
    margin-right: 12px;
  }
}

.flex-row-bordered {
  display: flex;
  > div:not(:last-child) {
    border-right: 12px solid #eee;
  }
}

.spacer {
  flex: 1 1 auto;
}

.pre {
  font-family: monospace;
}
