<a
  class="external-link"
  target="_blank"
  href="https://github.com/encrpt/angular-components/tree/master/projects/matx/src/lib/components/input-file"
  ><mat-icon> launch </mat-icon>Source</a
>
<div class="flex-row">
  <button
    mat-raised-button
    color="primary"
    [matMenuTriggerFor]="localmenu"
    aria-label="localmenu"
    matTooltip="import / export"
  >
    File
  </button>
  <mat-menu #localmenu="matMenu">
    <app-input-file
      selectType="webkitdirectory"
      class
      matIcon="vertical_align_top"
      color="none"
      buttonType="mat-menu-item"
      (onFileSelect)="submitAction($event)"
      [showFileNames]="false"
      (onSelectStart)="resetAction($event)"
      label="Load directory (Chrome)"
    >
      <span class="nofiles"></span>
    </app-input-file>
    <app-input-file
      selectType="multiple"
      accept=".json"
      matIcon="vertical_align_top"
      color="none"
      buttonType="mat-menu-item"
      (onFileSelect)="submitAction($event)"
      [showFileNames]="false"
      (onSelectStart)="resetAction($event)"
      label="Load multiple files"
    >
      <span class="nofiles"></span>
    </app-input-file>
    <app-input-file
      accept=".json"
      matIcon="vertical_align_top"
      color="none"
      buttonType="mat-menu-item"
      (onFileSelect)="submitAction($event)"
      [showFileNames]="true"
      (onSelectStart)="resetAction($event)"
      label="load single file"
    >
      <span class="nofiles">No file selected</span>
    </app-input-file>
  </mat-menu>
</div>
