.main-nav {
  overflow-y: auto;
  padding-bottom: 64px;
}

.mat-card-subtitle {
  word-break: break-all;
}

@media (max-width: 599px) {
  .example-card {
    margin: 6px 6px 0 6px;
  }
}

.icon-link {
  display: flex;
  justify-content: end;
}
