.main-nav {
  overflow-y: auto;
  padding-bottom: 64px;
}

.mat-card-subtitle {
  word-break: break-all;
}

.example-card {
  margin: 12px 12px 0 12px;
}

@media (max-width: 599px) {
  .example-card {
    margin: 6px 6px 0 6px;
  }
}
