<mat-accordion class="main-nav">
  <mat-expansion-panel
    *ngFor="let route of routes"
    class="example-headers-align"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ route.label }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a class="icon-link" [routerLink]="route.uri"
      ><mat-icon color="primary">launch</mat-icon></a
    >
    <mat-card class="example-card" color="primary">
      <mat-card-header>
        <mat-card-title>{{ route.title }}</mat-card-title>
        <mat-card-subtitle>{{ route.label }}</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="'/assets/img/' + route.uri + '.png'"
        alt="Preview image"
      />
      <mat-card-content>
        <p [innerHTML]="route.description | renderLink"></p>
      </mat-card-content>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
