<a
  class="external-link"
  target="_blank"
  href="https://github.com/encrpt/angular-components/tree/develop/projects/matx/src/lib/components/tree-select"
  ><mat-icon> launch </mat-icon>Source</a
>
<div class="flex-row">
  <lib-tree-select
    [multiSelect]="false"
    [treeData]="menuDataFirst"
    (selectedItems)="selectedItems($event)"
  ></lib-tree-select>
  <lib-tree-select
    [multiSelect]="true"
    [treeData]="menuDataSecond"
    (selectedItems)="selectedItems($event)"
  ></lib-tree-select>
</div>
<div>based on https://material.angular.io/components/tree/examples</div>
