<a
  class="external-link"
  target="_blank"
  href="https://github.com/encrpt/angular-components/tree/master/projects/matx/src/lib/components/loading-spinner"
  ><mat-icon> launch </mat-icon>Source</a
>
<div class="flex-row padded">
  <lib-loading-spinner [size]="48" [fontSize]="12">
    <span>Auth</span>
  </lib-loading-spinner>

  <mat-divider></mat-divider>
  <div class="example-page">
    <lib-loading-spinner [size]="100" [center]="true">
      <span>Pull data</span>
    </lib-loading-spinner>
  </div>

  <div class="example-page">
    <lib-loading-spinner [size]="100" [center]="true" pageHeight="800px">
      <span>Check Hash</span>
    </lib-loading-spinner>
  </div>
</div>
