<a
  class="external-link"
  target="_blank"
  href="https://github.com/encrpt/angular-components/tree/master/projects/matx/src/lib/components/extenable-form-grid"
  ><mat-icon> launch </mat-icon>Source</a
>
<h2>Properties as Header</h2>
<lib-extenable-form-grid
  [gridData]="data"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Empty</h2>
<lib-extenable-form-grid
  [gridData]="dataEmpty"
  [allowEditHeaderRows]="true"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Header row - allows same properties-name</h2>
<lib-extenable-form-grid
  [gridData]="dataAndHeader"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Header row editable - allows same properties-name</h2>
<lib-extenable-form-grid
  [gridData]="dataAndHeader"
  [allowEditHeaderRows]="true"
  (submitted)="output($event)"
></lib-extenable-form-grid>
