<h2>Empty</h2>
<lib-extenable-form-grid
  [gridData]="data_empty"
  [allowEditHeaderRows]="true"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Properties as Header</h2>
<lib-extenable-form-grid
  [gridData]="data"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Header row - allows same properties-name</h2>
<lib-extenable-form-grid
  [gridData]="dataAndHeader"
  (submitted)="output($event)"
></lib-extenable-form-grid>
<h2>Header row editable - allows same properties-name</h2>
<lib-extenable-form-grid
  [gridData]="dataAndHeader"
  [allowEditHeaderRows]="true"
  (submitted)="output($event)"
></lib-extenable-form-grid>
