<a
  class="external-link"
  target="_blank"
  href="https://github.com/encrpt/angular-components/tree/master/projects/matx/src/lib/components/slider-circle"
  ><mat-icon> launch </mat-icon>Source</a
>
<div *ngIf="useBasicExamples" class="container">
  <ng-container *ngFor="let renderSize of renderSizes">
    <div class="row">
      <div>{{ renderSize }}px</div>
      <ng-container *ngFor="let strokeWidth of strokeWidths">
        <lib-slider-circle
          *ngIf="strokeWidth * 4 < renderSize && strokeWidth * 20 > renderSize"
          [size]="renderSize"
          [strokeWidth]="strokeWidth"
          [showValueLabel]="renderSize > 20"
          (changedValue)="changeValue(renderSize + '/' + strokeWidth, $event)"
        ></lib-slider-circle>
        <lib-slider-circle
          *ngIf="strokeWidth * 4 < renderSize"
          class="example-slider"
          [circleColor]="'blue'"
          [size]="renderSize"
          [strokeWidth]="strokeWidth"
          [showValueLabel]="renderSize > 20"
          [value]="strokeWidth * 2 | random: 20"
        ></lib-slider-circle>
      </ng-container>
    </div>
  </ng-container>
</div>
<div *ngIf="!useBasicExamples" class="container">
  <ng-container *ngFor="let sliderExampleRow of sliderExamples">
    <div class="row row-c1">
      <ng-container *ngFor="let sliderExample of sliderExampleRow">
        <lib-slider-circle
          [areaColor]="sliderExample.areaColor"
          [circleColor]="sliderExample.circleColor"
          [class]="sliderExample.cssClass"
          [size]="sliderExample.size"
          [color]="sliderExample.color"
          [min]="sliderExample.min"
          [max]="sliderExample.max"
          [value]="sliderExample.value"
          [strokeWidth]="sliderExample.strokeWidth"
          [editMode]="sliderExample.editMode"
          [animationSec]="sliderExample.animationSec"
          (changedValue)="changeValue(sliderExample.id, $event)"
        ></lib-slider-circle>
      </ng-container>
    </div>
  </ng-container>
</div>
