.container {
  max-height: calc(100vh - 64px);
  max-width: 1920px;
  margin: auto;
}

.demo-menu {
  min-width: 260px;
  max-width: 15vw;
  overflow-x: auto;
}

.component-demo {
  overflow: auto;
}

// .header {
//   border-bottom: 1px solid #888;
// }

@media (max-width: 599px) {
  .demo-menu {
    min-width: 200px;
    width: 200px;
  }
  .container {
    max-height: calc(100vh - 56px);
  }
}
